<div class="container mt-5">

<!-- Outline of "ifs" :
If post is locked...
If user signed in && post is not locked...
If user not signed in && post is not locked...-->
  <% if @post.is_locked %>

    <div class="white-background">This post is locked.</div>

  <% elsif user_signed_in? %>

    <h4 class="mb-4">Leave a reply!</h4>

    <div>
      <%= form_with(model: @comment, url: post_comments_path(@post.id)) do |f| %>
  
        <div class="field">
          <%= f.hidden_field :content, id: :comment_content %>
          <trix-editor class="trix-content" input="comment_content"></trix-editor>
        </div>
  
        <div class="mt-2">
          <%= f.submit "Add comment", class:"btn btn-primary"%>
        </div>

      <% end%>
    </div>

  <% else %> 

    <div class="white-background">Sign in to leave a reply!</div>

  <%end%>

 
</div>