<h2>Edit my information</h2>
<div class="col">
  
  <%= form_with model: @user do |f| %>
  
    <div class="form-group ">
      <%= f.label :username %><br>
      <%= f.text_field :username, class:"form-control shorten-field"%>
    </div>
    <%= f.submit "Update", class:"btn btn-inverse" %>
  <% end %>
</div>

