<div class="container pre"> <!-- container for all the boxes-->
  
  <div class="container post-container">
    <%@posts.each do |post|%>

      <div class="row post-row border">
        <div class="col-2">
          <span class="font-weight-bold"><%= post.user.username%></span>
        </div>
        <div class="col-8">
          <div><h6><%= post.title%></h6></div>
          <div class="ellipsis"><%= post.content%></div>
        </div>
        <div class="col-2">
          Likes and views
        </div>
      </div>
    <%end%>
  </div>
    

</div>

<!-- Now I have to :
- Make it so it doesn't overflow (I have a working solution, but it could be better)
- add styles/background to the rows-->