// Place all the styles related to the Post controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



.post-row {
  height: 120px;
}

.post-row:nth-of-type(1){
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}
.post-row:nth-last-child(1){
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
}


// Ellipsis class is not responsive and needs to be changed.
.ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  line-height: 16px;     /* fallback */
  max-height: 32px;      /* fallback */
  -webkit-line-clamp: 2; /* number of lines to show */
  -webkit-box-orient: vertical;
}

