<div class="col">
   <%=@post.title%>
  
  <div class="container gray-container">
      <div class="row post-row border white-background">
        <div class="col-2 text-center">
          <span class="font-weight-bold"><%= @post.user.username%></span>
        </div>
        <div class="col-8">
          <div class="ellipsis"><%= @post.content%></div>
        </div>
        <div class="col-2">
          Likes and views
        </div>
      </div>
  </div>
  
  
  
  </div>
</div>