@import "bootstrap";
@import "flat-ui";
@import "trix";
@import "partials/*";

.white-background {
  background-color: #fff;
  padding-left: 2em;
  padding-right: 2em;
  padding-top: 2em;
  padding-bottom: 6em;
  margin-bottom: 3em;
  box-sizing: border-box;
}

.gray-container > .white-background {
  margin: 3px;
}